<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MEET Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="/static/css/edits.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/static/css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">me<span class="invert">e</span>t</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>MEET Student Homepage</h1>
              <span class="subheading">Access learning materials here</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">

        <div class="col-lg-8 col-md-10 mx-auto">
          


          <!-- Start here -->
          {% if "home" in correct %}

          <div id="announcer"></div>
          
          {% endif %}




          {% if "login" in correct %}
          <div class = "container">
            <div class="wrapper">
              <form action="/login" method="POST" name="Login_Form" class="form-signin">       
                  <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
                  <hr class="colorgraph"><br>
                  
                  <input type="text" class="form-control" name="email" placeholder="MEET Email" required="required" autofocus="" />
                  <input type="password" class="form-control" name="password" placeholder="Password" required="required"/>          
                  {% if bad_login == True %}
                  <center>
                  <p><font color="red"><strong>{{ error }}</strong></font></p>
                  {% if resend_auth == True %}
                  <p><font color="red"><strong>Click <a href="/resend">here</a> to resend.</strong></font></p>
                  {% endif %}
                  </center>
                  {% endif %}

                 
                  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="submit">Login</button>        
                  <p><font color="blue">Forgot your password? Click <a href="/reset">here</a> to reset.</font></p>
              </form>
            </div>
          </div>
          {% endif %}




          {% if "signup" in correct %}
          <div class = "container">
            <div class="wrapper">
              <form action="/signup" method="POST" name="Login_Form" class="form-signin">       
                  <h3 class="form-signin-heading">Welcome! Please Create an Account</h3>
                  <hr class="colorgraph"><br>
                  
                  <input type="text" class="form-control" name="email" placeholder="MEET Email" required="required" autofocus="" />
                  <input type="text" class="form-control" name="name" placeholder="Full Name" required="required" autofocus="" />

                  <input type="password" class="form-control" name="password" placeholder="Password" required="required"/>  
                  <input type="password" class="form-control" name="password-two" placeholder="Confirm Password" required="required"/>   

                  <center>
                  <select required="required" name="access">
                    <option value="y1">Year 1</option>
                    <option value="y2">Year 2</option>
                    <option value="y3">Year 3</option>
                  </select>

                  <select required="required" name="location">
                    <option value="MEETx">MEETx</option>
                    <option value="Jerusalem">Jerusalem</option>
                    <option value="Nazareth">Nazareth</option>
                  </select>

                  </center>

                  <br>

                  {% if bad_signup == True %}
                  <center>
                    <p><font color="red"><strong>{{ error }}</strong></font></p>
                    <br>
                  </center>
                  {% endif %}

                 
                  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="submit">Sign Up</button>        
              </form>     
            </div>
          </div>
          {% endif %}



          {% if "reset" in correct %}
          <div class = "container">
            <div class="wrapper">
              <form action="/reset" method="POST" name="Login_Form" class="form-signin">       
                  <h3 class="form-signin-heading">Please enter your MEET Email to receive a password reset link.</h3>
                  <hr class="colorgraph"><br>
                  
                  <input type="text" class="form-control" name="email" placeholder="MEET Email" required="required" autofocus="" />
                  {% if bad_reset == True %}
                  <center>
                  <p><font color="red"><strong>{{ error }}</strong></font></p>
                  </center>
                  {% endif %}
                  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="submit">Send Email</button>        
              </form>     
            </div>
          </div>
          {% endif %}




          {% if "reset_password" in correct %}
          <div class = "container">
            <div class="wrapper">
              <form action="/reset/{{ token }}" method="POST" name="Login_Form" class="form-signin">       
                  <h3 class="form-signin-heading">Welcome back! Please enter your new password.</h3>
                  <hr class="colorgraph"><br>
                  
                  <input type="text" class="form-control" name="email" placeholder="MEET Email" required="required" autofocus="" />

                  <input type="password" class="form-control" name="password" placeholder="Password" required="required"/>  
                  <input type="password" class="form-control" name="password-two" placeholder="Confirm Password" required="required"/>          
                  {% if bad_reset == True %}
                  <center>
                    <p><font color="red"><strong>{{ error }}</strong></font></p>
                    <br>
                  </center>
                  {% endif %}

                 
                  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="submit">Reset Password</button>        
              </form>     
            </div>
          </div>
          {% endif %}

          <!-- End here -->
        </div>


 <!--        {% if "home" in correct %}
        <div class = "col-lg-3 col-md-1">
          <br/>
          <h4> Important Dates</h4>
        </div>
        {% endif %} -->


      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Me 2019</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/clean-blog.min.js"></script>

    <script type="text/javascript">

      $(document).ready(function(){
          $("#announcer").load("/announcer/y1/public");
      });
    </script>

  </body>

</html>
